<!DOCTYPE html>
<html>
    <head>
        <title>Marena Food Court</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/app1.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async>				</script>
    </head>
    <body> 
    <div id="landing-header">
         <h1>Marena Food Ordering App</h1>
         <p style="margin-top: 2%;">
            <a href="/menu" class="btn btn-md btn-success">MENU</a>
         </p>
        
        <p>
            <a href="/signup" class="btn btn-md btn-success">Register</a>
        </p>
        <p>
            Already have an account ? <a href="/login" style="text-decoration-line: underline;" >Log in</a>
        </p>
        
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
<%- include("partials/footer") %>